html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #86A2A0;
  color: #06293E;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 5rem;
}

.hide {
  display: none;
}

main {
  height: 100%;
  margin: 10vw auto;
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.subtext {
  font-size: 2rem;
  margin-top: 2em;
  margin-bottom: 2em;
}

.words--container {
  background-color: #DEAFA0;
  padding: 2rem;
  font-size: 2rem;
  animation: anim 0.2s;
}

@keyframes anim {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.words {
  text-align: left; 
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  /* animation: colorChange 0.5s; */
  color: black;
  opacity: 1;;
}

/* @keyframes colorChange {
  0% {
    color: #06293E;
  }
  100% {
    color: #E2705F;
  }
} */

