html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* cursor: none; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  overflow-x: hidden;

  width: 96rem;
  margin-left: auto;
  margin-right: auto;
  /* overflow-y: hidden; */
  padding: 0 5rem;
}

.hide {
  display: none;
}

main {
  height: 100%;
}

.title {
  font-weight: bold;
  color: #400C12;
  text-align: left;
  font-size: 7rem;
  margin-top: 34vh; 
}

.subtext {
  font-size: 3rem;
  margin-top: 2em;
  margin-bottom: 2em;
}

.subtext::after {

}

.words--container {
  background-color: #DEAFA0;
  padding: 2rem;
  font-size: 2rem;
  animation: anim 0.2s;
}

@keyframes anim {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.words {
  overflow: auto;
  outline: none;
  box-shadow: none;

  text-align: left; 
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  animation: colorChange 0.3s;
  opacity: 1;
  background-color: transparent;
  border: none;
  resize: none;
}


@keyframes colorChange {
  0% {
    color: #A7A7A7;
  }
  90% {
    color: #A7A7A7;
  }
  100% {
    color: #000000;
  }
}

/* Decorations */

.takefive {
  position: absolute;
  top: 0;
  left: 3rem;
}

.blueDec {
  position: absolute;
  top: 0;
  right: 0;
}

.blueDec2 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

.obvLogo {
  position: absolute;
  bottom: 4rem;;
  right: 4rem;
}

